node_modules

# Builds
.aws-sam
dist
tsconfig-only-handler.json

# SO
**/.DS_store

# Secrets
env.json
!env.example.json
samconfig.toml
!samconfig.example.toml


# Vs Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace
.history/